/* FOOTER */
.bg-footer{
    background-color: var(--oscuro);
}

footer{
    display: block;
    color: var(--blanco);
    text-align: center;
}
@media(min-width: 700px){
    footer{
        
        display: flex;
    justify-content: space-evenly;
    }
}
 
footer a{
    color: var(--blanco);
    
}
    