
<section>
    <h2>Contacto</h2>
    <p>Cualquier consulta, tenes mis redes sociales, o dejame un mensaje por aqui</p>
    <div class="card">
        
        <form action="http://localhost:8080/contacto/nuevo" method="POST">
            <label for="nombre">Nombre: </label>
            <input type="text">
            <label for="email">E-mail: </label>
            <input type="text">
            <label for="mensaje">Mensaje: </label>
            <textarea name="mensaje" id="" cols="30" rows="10"></textarea>
            
            <input type="submit" name="enviar">

            
        </form>

    </div>


</section>